flask==3.0.3
gunicorn==22.0.0
requests==2.32.3
pinecone-client==5.0.1
google-generativeai==0.8.3
langchain==0.3.7
langchain-community==0.3.7
langchain-google-genai==2.0.1
langchain-groq==0.2.1
python-dotenv==1.0.1