fastapi
uvicorn[standard]
pydantic
requests
langchain-pinecone
pinecone-client
langchain-google-genai
google-generativeai
langchain
langchain-community
langchain-text-splitters
langchain-groq
python-dotenv
pytest
bs4
httpx
streamlit
pypdf